@import "colors.css";

.allCategoriesBtn {
    padding: 5px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: var(--orderdate-color);
    color: var(--primary-white-color);
    font-size: 12px;
    font-weight: 500;
}

.categoryBlock {
    margin-left: 8px;
    padding: 5px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background: var(--category-background);
    color: var(--secondary-black-color);
    font-size: 12px;
    font-weight: 500;
}
