@import "colors.css";

.productsTableTitleBlock {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--productstabletitle-color);
    font-size: 11px;
    font-weight: 500;
}

.nameProductBlock {
    width: 45%;
    display: flex;
    align-items: center;
}

.nameProductBlock input {
    margin-right: 13px;
}

.categoryProductBlock {
    width: 30%;
    display: flex;
    align-items: center;
}

.priceProductBlock {
    width: 5%;
    display: flex;
    align-items: center;
}

.editBlock {
    width: 20%;
    display: flex;
    align-items: center;
}

.deleteIcon {
    margin-left: 15px;
    width: 14px;
    height: 16px;
}
