@import "colors.css";

.linkBlock {
    width: 220px;
    margin-bottom: 10px;
    padding: 19px 24px;
    display: flex;
    align-items: center;
    border-radius: 11px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}

.linkText {
    margin-left: 18px;
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary-black-color);
}

.activeLinkBlock {
    width: 220px;
    margin-bottom: 10px;
    padding: 19px 24px;
    display: flex;
    align-items: center;
    border-radius: 11px;
    background: var(--primary-black-color);
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    text-decoration: none;
}

.activeLinkText {
    margin-left: 18px;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-white-color);
}
